/* Base Chair Container */
.chair-swiper {
    position: relative;
    height: 533px;
    width: 100%;
    overflow: hidden;
    padding: 30px;
}

.tab-header {
    position: relative;
    z-index: 10;
}

.tab-header h1 {
    font-size: 24px;
    line-height: 1;
    margin: 0;
    color: white;
}

.tab-header .tab {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    margin: 0;
    padding: 0;
}

.tab-header .tab li {
    list-style: none;
    width: 33.333%;
}

.tab-header .tab a {
    display: block;
    font-size: 16px;
    line-height: 45px;
    padding-bottom: 1px;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.tab-header .tab .active a {
    padding-bottom: 0;
    border-bottom: 2px solid #fff;
}

.tab-content .content {
    display: none;
}

.tab-content .active {
    display: block;
}

/* Base Color Properties */
.color,
.pattern,
.range {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 0px;
    overflow: hidden;
    background-repeat: no-repeat;
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
            transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}

.color section,
.pattern section,
.range section {
    position: absolute;
    top: 120px;
    left: 93px;
    width: 189px;
}

.color .chair,
.pattern .chair,
.range .chair {
    position: absolute;
    top: 0;
    left: 0;
    width: 189px;
    height: 277.632922px;
    background-repeat: no-repeat;
    background-size: 800% 100%;
    opacity: 0;
    -webkit-transition: opacity 0.1s;
    transition: opacity 0.1s;
}

.color .chair.show,
.pattern .chair.show,
.range .chair.show {
    opacity: 1;
}

.color.show,
.pattern.show,
.range.show {
    /* Scale the color area to show */
    width: 100%;
}

.headrest,
.stool,
.hanger {
    background-color: #45474B;
}

/* Color Definitions */
.chrome {
    background: transparent;
    z-index: 3;
}

.chrome .chair {
    background-image: url(../img/chair/chrome.png);
}

.black {
    background: transparent;
    z-index: 2;
}

.black .chair {
    background-image: url(../img/chair/black.png);
}

.green {
    background: #A9BB39;
}

.green .chair {
    background-image: url(../img/chair/green.png);
}

.orange {
    background: #F78033;
}

.orange .chair {
    background-image: url(../img/chair/orange.png);
}

.purple {
    background: #71375E;
}

.purple .chair {
    background-image: url(../img/chair/purple.png);
}

.red {
    background: #BB2F22;
}

.red .chair {
    background-image: url(../img/chair/red.png);
}

.teal {
    background: #30AFCF;
}

.teal .chair {
    background-image: url(../img/chair/teal.png);
}

.yellow {
    background: #FEC745;
}

.yellow .chair {
    background-image: url(../img/chair/yellow.png);
}

/* Angle Definitions */
.angleSlider {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 9;
    bottom: 150px;
    width: 80%;
    margin: auto;
}

.color .angle1 {
    background-position: 0px 0 !important;
}

.color .angle2 {
    background-position: -189px 0 !important;
}

.color .angle3 {
    background-position: -378px 0 !important;
}

.color .angle4 {
    background-position: -567px 0 !important;
}

.color .angle5 {
    background-position: -756px 0 !important;
}

.color .angle6 {
    background-position: -945px 0 !important;
}

.color .angle7 {
    background-position: -1134px 0 !important;
}

/* Chair Shadow Definition */
.shadow {
    position: absolute;
    top: 291px;
    left: 21px;
    width: 269.325px;
    height: 117.18px;
    background-image: url(../img/chair/shadow.png);
    background-size: contain;
}

/* Controls */
.controls {
    position: absolute;
    bottom: 85px;
    width: 274px;
    height: 52px;
    overflow: hidden;
    left: 50%;
    margin-left: -137px;
}

.controls .oval {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 274px;
    height: 52px;
    background: url(../img/oval.png) 0 0 no-repeat;
    background-size: contain;
}

.controls .oval.angle1 {
    clip: rect(0px, 120.5px, 52px, 19.5px);
}

.controls .oval.angle2 {
    clip: rect(0px, 120.5px, 52px, 53.5px);
}

.controls .oval.angle3 {
    clip: rect(0px, 120.5px, 52px, 87px);
}

.controls .oval.angle4 {
    clip: rect(0px, 120.5px, 52px, 120.5px);
}

.controls .oval.angle5 {
    clip: rect(0px, 154px, 52px, 120.5px);
}

.controls .oval.angle6 {
    clip: rect(0px, 188px, 52px, 120.5px);
}

.controls .oval.angle7 {
    clip: rect(0px, 221px, 52px, 120.5px);
}

.controls .oval.angle8 {
    clip: rect(0px, 254.5px, 52px, 120.5px);
}

.controls .point {
    display: none;
    position: absolute;
    z-index: 2;
    background: #6C3459;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.25);
    -webkit-transition: -webkit-transform .1s ease-in;
    transition: -webkit-transform .1s ease-in;
    transition: transform .1s ease-in;
    transition: transform .1s ease-in, -webkit-transform .1s ease-in;
}

.controls .point::before {
    content: '';
    position: absolute;
    top: -7px;
    left: -7px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, 0.1);
}

.controls .point.angle1 {
    top: 4.5px;
    left: 8.5px;
}

.controls .point.angle2 {
    top: 16.5px;
    left: 42.5px;
}

.controls .point.angle3 {
    top: 22.5px;
    left: 76px;
}

.controls .point.angle4 {
    top: 26px;
    left: 109.5px;
}

.controls .point.angle5 {
    top: 26px;
    left: 143px;
}

.controls .point.angle6 {
    top: 22.5px;
    left: 177px;
}

.controls .point.angle7 {
    top: 16.5px;
    left: 210px;
}

.controls .point.angle8 {
    top: 4.5px;
    left: 243.5px;
}

.controls .show {
    display: block;
}

.icon-arrow-back {
    left: 30px;
}

.icon-arrow-forward {
    right: 30px;
}

.arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    margin-top: -20px;
    padding: 0;
    width: 40px;
    height: 40px;
    border: 0 none;
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #666;
    background: white;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    outline: none;
}

.arrow::before {
    margin-right: 0 !important;
}

.arrow:hover {
    box-shadow: 0 12px 15px rgba(0, 0, 0, 0.2);
}

.placeholder {
    height: 70px;
}

.switcher {
    position: absolute;
    right: 30px;
    bottom: 30px;
    left: 30px;
    z-index: 9;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    border-radius: 2px;
}

.switcher .btn-group,
.switcher .switch-group {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.switcher button {
    width: 50%;
    background: transparent;
    font-size: 13px;
    line-height: 24px;
    text-align: center;
    opacity: 0.5;
}

.switcher button:hover {
    outline: none;
}

.switcher button:first-child {
    border-right: 0;
    border-radius: 2px 0 0 2px;
}

.switcher button:last-child {
    border-radius: 0 2px 2px 0;
}

.switcher button.active {
    background: white;
    border-color: white;
    opacity: 1;
    color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.switcher .switch-group > label {
    width: 64px;
    opacity: .5;
    color: white;
    line-height: 40px;
    text-align: center;
}

.switcher .switch {
    width: 37px;
    margin-top: 9px;
    margin-left: 4px;
}

.switcher .switch.active > label {
    opacity: 1;
}

.nav {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 100;
    width: 100%;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transition: 0.3s -webkit-transform;
    transition: 0.3s -webkit-transform;
    transition: 0.3s transform;
    transition: 0.3s transform, 0.3s -webkit-transform;
}

.nav a {
    line-height: 2.4;
    font-weight: bold;
}

.nav li:first-child a {
    line-height: inherit;
}

.nav .controller > a::before {
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.05);
}

.intro {
    padding: 36px 30px;
    font: 18px/26px sans-serif;
    font-weight: 300;
    color: black;
    text-align: justify;
    background-color: white;
}

.autoheight {
    overflow: visible;
}

.force-autoheight {
    height: auto !important;
}

.form {
    background-color: #f6f6f6;
    padding: 30px;
}

.form-row label {
    font-size: 18px;
    line-height: 24px;
}

.form-row input,
.form-row select,
.form-row textarea {
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    border-radius: 2px;
    border: 0 none;
    resize: none;
}

.video .cover {
    position: relative;
    height: 533px;
    background: url(../img/video.png) 50% 100% no-repeat;
    background-size: 100%;
    color: white;
}

.video .cover h1 {
    position: absolute;
    left: 176px;
    top: 110px;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
}

.video .cover i {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 100%;
    color: #979797;
    font-size: 26px;
    line-height: 60px;
    text-align: center;
}

.video .cover p {
    position: absolute;
    bottom: 41px;
    right: 36px;
    font-size: 20px;
    font-weight: 700;
    text-align: right;
    margin-bottom: 0;
}

.video .cover img {
    height: 17px;
    vertical-align: -1px;
}

.dimensions {
    padding: 27px 0 50px 30px;
    overflow: hidden;
    position: relative;
    color: #333333;
}

.dimensions h1 {
    font-size: 36px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -0.5px;
}

.description {
    margin-top: 54px;
    width: 102px;
    font-size: 14px;
    line-height: 20px;
}

.description p {
    margin-bottom: 0;
}

.param2,
.param3,
.param4 {
    margin-top: 35px;
}

.chair {
    position: absolute;
    top: 167px;
    right: 0;
}

.chair img {
    width: 242px;
    height: 374px;
}

.tile {
    display: block;
    background-color: #0095DE;
    color: white;
    padding: 30px;
    text-align: right;
    line-height: 10px;
}

.tile p {
    font-size: 16px;
    line-height: 1;
    margin-bottom: 15px;
}

.tile i {
    display: block;
    height: 10px;
    font-size: 24px;
    vertical-align: top;
}
