@charset "UTF-8";
/* Global */
html,
body {
    min-height: 100vh;
    background-color: #FFFFFF;
    -webkit-text-size-adjust: 100%;
            text-size-adjust: 100%;
}

html {
    font-size: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    color: black;
    font: 400 12px/1.5 Helvetica Neue, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: transparent;
}

img {
    max-width: 100%;
    height: auto;
}

img {
    display: inline-block;
    vertical-align: middle;
}

textarea {
    height: auto;
    min-height: 50px;
}

select {
    width: 100%;
}

[hidden] {
    display: none !important;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clearfix::after, .container::after, .sticky::after, .tabs::after, .tabs-content::after {
    content: "";
    display: table;
    clear: both;
}

.hide {
    display: none !important;
}

.invisible {
    opacity: 0;
    visibility: hidden;
}

/* Grid */
.container {
    margin: 0 auto;
    max-width: 10240px;
}

.container.no-margin {
    margin-top: 0;
    margin-bottom: 0;
}

.container.blank {
    margin-left: 16px;
    margin-right: 16px;
}

.row {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 10240px;
}

.row.blank {
    margin-left: 16px;
    margin-right: 16px;
}

.row .row {
    margin-left: -3px;
    margin-right: -3px;
    max-width: none;
    width: auto;
}

.row .row.collapse {
    margin-left: 0;
    margin-right: 0;
    max-width: none;
    width: auto;
}

.columns {
    position: relative;
    padding-left: 3px;
    padding-right: 3px;
    width: 100%;
}

.row.collapse > .columns {
    padding-left: 0;
    padding-right: 0;
}

.row.collapse .columns .row {
    margin-left: 0;
    margin-right: 0;
}

.row.sides-collapse > .columns:first-child {
    padding-left: 0;
}

.row.sides-collapse > .columns:last-child {
    padding-right: 0;
}

.row.sides-collapse .columns:first-child .row {
    margin-left: 0;
}

.row.sides-collapse .columns:first-child .row .columns:first-child {
    padding-left: 0;
}

.row.sides-collapse .columns:last-child .row {
    margin-right: 0;
}

.row.sides-collapse .columns:last-child .row .columns:last-child {
    padding-right: 0;
}

.column {
    padding-left: 0;
    padding-right: 0;
}

.grid-1 {
    flex: 1;
}

.grid-2 {
    width: 16.666667%;
}

.grid-3 {
    width: 25%;
}

.grid-4 {
    width: 33.333333%;
}

.grid-5 {
    width: 41.666667%;
}

.grid-6 {
    width: 50%;
}

.grid-7 {
    width: 58.333333%;
}

.grid-8 {
    width: 66.666667%;
}

.grid-9 {
    width: 75%;
}

.grid-10 {
    width: 83.333333%;
}

.grid-11 {
    width: 91.666667%;
}

.grid-12 {
    width: 100%;
}

.row > [class^="grid-"],
.row > [class*=" grid-"] {
    display: block;
}

.offset-0 {
    margin-left: 0 !important;
}

.offset-1 {
    margin-left: 8.333333% !important;
}

.offset-2 {
    margin-left: 16.666667% !important;
}

.offset-3 {
    margin-left: 25% !important;
}

.offset-4 {
    margin-left: 33.333333% !important;
}

.offset-5 {
    margin-left: 41.666667% !important;
}

.offset-6 {
    margin-left: 50% !important;
}

.offset-7 {
    margin-left: 58.333333% !important;
}

.offset-8 {
    margin-left: 66.666667% !important;
}

.offset-9 {
    margin-left: 75% !important;
}

.offset-10 {
    margin-left: 83.333333% !important;
}

.offset-11 {
    margin-left: 91.666667% !important;
}

/* Typography */
.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.text-justify {
    text-align: justify !important;
}

/* Typography resets */
dl,
dd,
ul,
ol,
p,
figure {
    margin: 0;
    padding: 0;
}

/* Default Link Styles */
a {
    color: #0095DE;
    line-height: inherit;
    text-decoration: none;
}

a:hover, a:focus {
    color: #0080bf;
}

a img {
    border: none;
}

/* Default paragraph styles */
p {
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 1em;
    text-rendering: optimizeLegibility;
}

p.lead {
    font-size: 15px;
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

hr {
    border-top: 1px solid #DCDCDC;
    clear: both;
    height: 0;
    margin: 20px 0 19px;
}

/* Helpful Typography Defaults */
em,
i {
    font-style: normal;
    line-height: inherit;
}

strong,
b {
    font-weight: 700;
    line-height: inherit;
}

small,
.text-small {
    font-size: 83.33333%;
    line-height: inherit;
}

code,
pre {
    background-color: #ebe4d8;
    border: 1px solid #dcd0ba;
    color: #333333;
    font-family: Consolas, Liberation Mono, Courier, monospace;
    font-weight: 400;
    padding: 2px 5px 1px;
}

pre {
    overflow: auto;
}

/* Lists */
ul,
ol,
dl {
    font-size: 12px;
    line-height: 1.6;
    list-style-position: outside;
    margin-bottom: 1em;
}

ul {
    margin-left: 18px;
}

/* Unordered Lists */
ul li ul,
ul li ol {
    margin-left: 20px;
    margin-bottom: 0;
}

ul.square {
    list-style-type: square;
    margin-left: 18px;
}

ul.circle {
    list-style-type: circle;
    margin-left: 18px;
}

ul.disc {
    list-style-type: disc;
    margin-left: 18px;
}

/* Ordered Lists */
ol {
    margin-left: 22px;
}

ol li ul,
ol li ol {
    margin-left: 20px;
    margin-bottom: 0;
}

.no-bullet {
    list-style-type: none;
    margin-left: 0;
}

.no-bullet li ul,
.no-bullet li ol {
    margin-left: 20px;
    margin-bottom: 0;
    list-style: none;
}

.no-bullet .divider {
    height: 1px;
    background-color: #EFEFEF;
    overflow: hidden;
    margin: 10px 0;
}

/* Definition Lists */
dl dt {
    margin-bottom: 5px;
    font-weight: 700;
}

dl dd {
    margin-bottom: 12px;
}

/* Blockquotes */
blockquote {
    margin: 0 0 1em;
    padding: 9px 20px 0 19px;
    border-left: 2px solid #D3D3D3;
}

blockquote cite {
    display: block;
    font-size: 13px;
    color: #3b3b3b;
}

blockquote cite::before {
    content: "\2014 \0020";
}

blockquote cite a,
blockquote cite a:visited {
    color: #3b3b3b;
}

blockquote,
blockquote p {
    line-height: 1.6;
    color: #595959;
}

.text-primary {
    color: #0095DE;
}

.text-success {
    color: #43AC6A;
}

.text-alert {
    color: #CF3727;
}

.text-warning {
    color: #F08A24;
}

.text-info {
    color: #A0D3E8;
}

.text-secondary {
    color: #BCA67D;
}

.text-reverse {
    color: #999999;
}

.nowrap {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ellipsis.line-2 {
    display: -webkit-box;
    word-wrap: break-word;
    white-space: normal;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.ellipsis.line-3 {
    display: -webkit-box;
    word-wrap: break-word;
    white-space: normal;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.animated {
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

.animated.infinite {
    animation-iteration-count: infinite;
}

.animated.fastest {
    animation-duration: 0.1s;
}

.animated.faster {
    animation-duration: 0.2s;
}

.animated.fast {
    animation-duration: 0.3s;
}

.animated.normal {
    animation-duration: 0.5s;
}

.animated.slow {
    animation-duration: 1s;
}

.animated.slower {
    animation-duration: 1.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    animation-name: fadeIn;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.fade-out {
    animation-name: fadeOut;
}

/* Icons */
@font-face {
    font-family: "icons";
    src: url("../fonts/icons.woff?v=4194c2d259") format("woff"), url("../fonts/icons.ttf?v=4194c2d259") format("truetype"), url("../fonts/icons.svg?v=4194c2d259#svg") format("svg");
    font-weight: 400;
    font-style: normal;
}

.icon::before, .icon-arrow-back::before,
.icon-arrow-down::before,
.icon-arrow-forward::before,
.icon-arrow-right::before,
.icon-arrow-up::before,
.icon-checkmark::before,
.icon-play::before {
    display: inline-block;
    min-width: 1em;
    vertical-align: 0;
    line-height: 1;
    font-family: "icons";
    font-variant: normal;
    -webkit-font-smoothing: antialiased;
    text-transform: none;
    text-rendering: auto;
    speak: none;
}

.icon-arrow-back::before {
    content: "⠪";
}

.icon-arrow-down::before {
    content: "⠃";
}

.icon-arrow-forward::before {
    content: "⠅";
}

.icon-arrow-right::before {
    content: "⠂";
}

.icon-arrow-up::before {
    content: "⠲";
}

.icon-checkmark::before {
    content: "⠄";
}

.icon-play::before {
    content: "⠁";
}

/* Buttons */
button,
.btn {
    display: inline-block;
    -webkit-appearance: none;
            appearance: none;
    position: relative;
    border: 1px solid #d7d7d7;
    border-radius: 0;
    font-family: Helvetica Neue, Helvetica, sans-serif;
    font-weight: 400;
    text-align: center;
    padding: 7px 20px;
    font-size: 14px;
    line-height: 2;
    background-color: #0095DE;
    color: #FFFFFF;
    transition: background-color 300ms ease-out;
}

button:hover, button:focus,
.btn:hover,
.btn:focus {
    color: #0d0d0d;
}

button.primary,
.btn.primary {
    background-color: #0095DE;
    color: #FFFFFF;
}

button.primary:hover, button.primary:focus,
.btn.primary:hover,
.btn.primary:focus {
    background-color: #007fbd;
    color: #FFFFFF;
}

button.secondary,
.btn.secondary {
    background-color: #BCA67D;
    color: #FFFFFF;
}

button.secondary:hover, button.secondary:focus,
.btn.secondary:hover,
.btn.secondary:focus {
    background-color: #ac915e;
    color: #FFFFFF;
}

button.success,
.btn.success {
    background-color: #43AC6A;
    color: #FFFFFF;
}

button.success:hover, button.success:focus,
.btn.success:hover,
.btn.success:focus {
    background-color: #39925a;
    color: #FFFFFF;
}

button.alert,
.btn.alert {
    background-color: #CF3727;
    color: #FFFFFF;
}

button.alert:hover, button.alert:focus,
.btn.alert:hover,
.btn.alert:focus {
    background-color: #b02f21;
    color: #FFFFFF;
}

button.warning,
.btn.warning {
    background-color: #F08A24;
    color: #FFFFFF;
}

button.warning:hover, button.warning:focus,
.btn.warning:hover,
.btn.warning:focus {
    background-color: #dc750f;
    color: #FFFFFF;
}

button.info,
.btn.info {
    background-color: #A0D3E8;
    color: white;
}

button.info:hover, button.info:focus,
.btn.info:hover,
.btn.info:focus {
    background-color: #71bddd;
    color: #FFFFFF;
}

button.outline,
.btn.outline {
    background-color: #FFFFFF;
    border-color: white;
    color: white;
}

button.outline:hover, button.outline:focus,
.btn.outline:hover,
.btn.outline:focus {
    background-color: rgba(255, 255, 255, 0.8);
    color: #0d0d0d;
}

button.outline.primary,
.btn.outline.primary {
    border-color: #0095DE;
    color: #0095DE;
}

button.outline.primary:hover, button.outline.primary:focus,
.btn.outline.primary:hover,
.btn.outline.primary:focus {
    background: true;
    color: rgba(0, 149, 222, 0.8);
}

button.outline.secondary,
.btn.outline.secondary {
    border-color: #BCA67D;
    color: #BCA67D;
}

button.outline.secondary:hover, button.outline.secondary:focus,
.btn.outline.secondary:hover,
.btn.outline.secondary:focus {
    background: true;
    color: rgba(188, 166, 125, 0.8);
}

button.outline.success,
.btn.outline.success {
    border-color: #43AC6A;
    color: #43AC6A;
}

button.outline.success:hover, button.outline.success:focus,
.btn.outline.success:hover,
.btn.outline.success:focus {
    background: true;
    color: rgba(67, 172, 106, 0.8);
}

button.outline.alert,
.btn.outline.alert {
    border-color: #CF3727;
    color: #CF3727;
}

button.outline.alert:hover, button.outline.alert:focus,
.btn.outline.alert:hover,
.btn.outline.alert:focus {
    background: true;
    color: rgba(207, 55, 39, 0.8);
}

button.outline.warning,
.btn.outline.warning {
    border-color: #F08A24;
    color: #F08A24;
}

button.outline.warning:hover, button.outline.warning:focus,
.btn.outline.warning:hover,
.btn.outline.warning:focus {
    background: true;
    color: rgba(240, 138, 36, 0.8);
}

button.outline.info,
.btn.outline.info {
    border-color: #A0D3E8;
    color: #A0D3E8;
}

button.outline.info:hover, button.outline.info:focus,
.btn.outline.info:hover,
.btn.outline.info:focus {
    background: true;
    color: rgba(160, 211, 232, 0.8);
}

button.link,
.btn.link {
    background: transparent;
    border: 0 none;
    color: inherit;
}

button.link:hover,
.btn.link:hover {
    background: transparent;
}

button.large,
.btn.large {
    padding: 30px;
    font-size: 16px;
    line-height: 1;
}

button.small,
.btn.small {
    padding: 5px 15px;
    font-size: 12px;
    line-height: 2;
}

button.tiny,
.btn.tiny {
    padding: 3px 6px;
    font-size: 12px;
    line-height: 1.5;
}

button.expand,
.btn.expand {
    display: block;
    width: 100%;
}

button.expand + .expand,
.btn.expand + .expand {
    margin-bottom: 15px;
}

button.flat,
.btn.flat {
    border-radius: 0;
}

button.rounded,
.btn.rounded {
    border-radius: 1000px;
}

button[class^=icon-]::before,
.btn[class^=icon-]::before {
    margin-right: 6px;
}

button:disabled,
.btn.disabled {
    pointer-events: none;
    opacity: 0.6;
}

button:disabled.primary,
.btn.disabled.primary {
    opacity: 0.6;
}

button:disabled.secondary,
.btn.disabled.secondary {
    opacity: 0.6;
}

button:disabled.success,
.btn.disabled.success {
    opacity: 0.6;
}

button:disabled.alert,
.btn.disabled.alert {
    opacity: 0.6;
}

button:disabled.warning,
.btn.disabled.warning {
    opacity: 0.6;
}

button:disabled.info,
.btn.disabled.info {
    opacity: 0.6;
}

button:disabled.info:hover, button:disabled.info:focus,
.btn.disabled.info:hover,
.btn.disabled.info:focus {
    color: #0d0d0d;
}

a.btn {
    text-decoration: none;
}

input,
textarea,
select {
    -webkit-appearance: none;
            appearance: none;
    border-radius: 2px;
    resize: none;
    display: block;
    padding: 3px 15px;
    width: 100%;
    height: 40px;
    background-color: #FFFFFF;
    border: 1px solid white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    font: 14px/1.21428 Helvetica Neue, Helvetica, sans-serif;
    color: black;
    transition: box-shadow 0.4s ease-in-out, border-color 0.4s ease-in-out;
}

input:focus,
textarea:focus,
select:focus {
    border-color: white;
    box-shadow: 0 0 5px #f6f6f6;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

input:disabled, input[readonly],
[disabled] input,
textarea:disabled,
textarea[readonly],
[disabled]
textarea,
select:disabled,
select[readonly],
[disabled]
select {
    background-color: #DCDCDC;
}

input.small,
textarea.small,
select.small {
    height: 34px;
}

input.large,
textarea.large,
select.large {
    height: 54px;
    font-size: 17.999996px;
}

input.radius,
textarea.radius,
select.radius {
    border-radius: 3px;
}

input.rounded,
textarea.rounded,
select.rounded {
    border-radius: 1000px;
    padding-left: 30px;
}

input.underline,
textarea.underline,
select.underline {
    border-width: 0 0 1px 0;
    box-shadow: 0 0 0 0 transparent;
}

input.rounded,
textarea.rounded {
    padding-right: 30px;
}

textarea {
    max-width: 100%;
}

textarea[rows] {
    height: auto;
}

::-webkit-input-placeholder {
    color: #999999;
}

::placeholder {
    color: #999999;
}

select {
    background: #FFFFFF url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MCA1MCI+PHBhdGggZD0iTTI1LjcgMjkuN2MtLjIuMi0uNC4zLS42LjMtLjMuMS0uNiAwLS45LS4zbC03LTdjLS40LS40LS40LTEgMC0xLjQuNC0uNCAxLS40IDEuNCAwbDYuMyA2LjMgNi4zLTYuM2MuNC0uNCAxLS40IDEuNCAwIC40LjQuNCAxIDAgMS40bC02LjkgN3oiIGZpbGw9IiM5Nzk3OTciLz48L3N2Zz4=) 100% 50% no-repeat;
    padding-right: 37px;
}

select[multiple] {
    height: auto;
}

input[type="submit"] {
    -webkit-appearance: none;
            appearance: none;
    border-radius: 0;
}

.input-group {
    line-height: 40px;
}

input[type="radio"],
input[type="checkbox"] {
    display: inline-block;
    position: relative;
    margin: 3px 0;
    padding: 0;
    width: 24px;
    height: 24px;
    border-radius: 1000px;
    vertical-align: middle;
}

input[type="radio"]::before,
input[type="checkbox"]::before {
    position: absolute;
}

input[type="radio"]:checked,
input[type="checkbox"]:checked {
    border-color: #0095DE;
}

input[type="radio"]:checked::before,
input[type="checkbox"]:checked::before {
    content: "";
    color: #0095DE;
}

input[type="radio"]:checked:focus,
input[type="checkbox"]:checked:focus {
    box-shadow: 0 0 5px rgba(0, 149, 222, 0.7);
}

input[type="radio"]:disabled,
input[type="checkbox"]:disabled {
    opacity: 0.5;
}

input[type="radio"]:disabled::before,
input[type="checkbox"]:disabled::before {
    opacity: 0.5;
}

input[type="radio"]:checked::before {
    top: 4px;
    left: 4px;
    width: 14px;
    height: 14px;
    background-color: #0095DE;
    border-radius: 1000px;
}

input[type="radio"]:disabled {
    border-color: white;
}

input[type="checkbox"]:checked {
    background-color: #0095DE;
}

input[type="checkbox"]:checked::before {
    top: 6px;
    left: 4px;
    width: 14px;
    height: 7px;
    border-left: 2px solid #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
    transform: rotate(-45deg);
}

input[type="radio"] + label,
input[type="checkbox"] + label {
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
}

input[type="file"] {
    width: 100%;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
            appearance: none;
    margin: 0;
}

label {
    color: black;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
}

label.right {
    text-align: right;
}

label.inline {
    margin: 0 0 30px 0;
    padding: 16px 0;
}

label small {
    color: #262626;
}

fieldset {
    border: 1px solid #DCDCDC;
    margin: 15px 0;
    padding: 10px;
}

fieldset legend {
    background: #FFFFFF;
    font-weight: 700;
    margin: 0 0 0 -3px;
    padding: 0 5px;
}

form {
    padding: 30px;
}

.form-row {
    display: flex;
    margin-bottom: 15px;
}

.form-row:last-child {
    margin-bottom: 0;
}

.form-row > :not(input).columns:first-child {
    padding-left: 0;
}

.form-row > :not(input).columns:last-child {
    padding-right: 0;
}

.form-row button,
.form-row .btn {
    margin-bottom: 0;
}

form .row > select.columns,
form .row > input.columns,
form .row > textarea.columns,
.form-row > select.columns,
.form-row > input.columns,
.form-row > textarea.columns {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 3px;
}

.form-inline label {
    line-height: 40px;
}

.prefix,
.postfix {
    display: block;
    position: relative;
    padding-bottom: 0;
    padding-top: 0;
    border: 1px solid;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    text-align: center;
    border-color: #cccccc;
    background: #f2f2f2;
    color: #333333;
}

.prefix.btn,
.postfix.btn {
    padding: 0;
    border-color: #d7d7d7;
    border-radius: 0;
    margin-bottom: 0;
}

.prefix.btn.primary,
.postfix.btn.primary {
    background-color: #0095DE;
}

.prefix [class^=icon-],
.postfix [class^=icon-] {
    font-size: 24px;
}

.prefix {
    border-right: none;
}

.prefix.btn.rounded {
    border-radius: 1000px 0 0 1000px;
}

.postfix {
    border-left: none;
}

.postfix.btn.rounded {
    border-radius: 0 1000px 1000px 0;
}

.prefix-radius input,
.prefix-radius textarea,
.prefix-radius select,
.prefix-radius button {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.prefix-radius .prefix {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.postfix-radius input,
.postfix-radius textarea,
.postfix-radius select,
.postfix-radius button {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.postfix-radius .postfix {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.prefix-rounded input,
.prefix-rounded textarea,
.prefix-rounded select,
.prefix-rounded button {
    border-bottom-right-radius: 1000px;
    border-top-right-radius: 1000px;
}

.prefix-rounded .prefix {
    border-bottom-left-radius: 1000px;
    border-top-left-radius: 1000px;
}

.postfix-rounded input,
.postfix-rounded textarea,
.postfix-rounded select,
.postfix-rounded button {
    border-bottom-left-radius: 1000px;
    border-top-left-radius: 1000px;
}

.postfix-rounded .postfix {
    border-bottom-right-radius: 1000px;
    border-top-right-radius: 1000px;
}

.switch {
    border: none;
    outline: 0;
    padding: 0;
    position: relative;
    -webkit-user-select: none;
            user-select: none;
}

.switch label {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: transparent;
    text-indent: 100%;
    transition: left 0.15s ease-out, background 0.15s ease-out, border 0.15s ease-out;
}

.switch input {
    position: absolute;
    display: block;
    opacity: 0;
    margin: 0;
}

.switch input + label {
    display: block;
    position: relative;
    margin-left: 0;
    margin-right: 0;
}

.switch label::before {
    content: "";
    display: block;
    position: absolute;
    left: -1px;
    top: -1px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 3px solid white;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.25);
    transition: left 0.15s ease-out;
    transform: translate3d(0, 0, 0);
}

.switch label {
    height: 22px;
    width: 37px;
}

.switch label::before {
    height: 22px;
    width: 22px;
}

.switch input:checked + label::before {
    left: 14px;
}

.switch label {
    background-color: transparent;
    color: transparent;
}

.switch label::before {
    background-color: rgba(0, 0, 0, 0.1);
}

.switch input:checked + label {
    background-color: rgba(255, 255, 255, 0.65);
    border-color: rgba(255, 255, 255, 0.65);
}

.switch.large label {
    height: 40px;
    width: 80px;
}

.switch.large label::before {
    height: 40px;
    width: 40px;
}

.switch.large input:checked + label::before {
    left: 39px;
}

.switch.small label {
    height: 28px;
    width: 56px;
}

.switch.small label::before {
    height: 28px;
    width: 28px;
}

.switch.small input:checked + label::before {
    left: 27px;
}

.switch.tiny label {
    height: 24px;
    width: 48px;
}

.switch.tiny label::before {
    height: 24px;
    width: 24px;
}

.switch.tiny input:checked + label::before {
    left: 23px;
}

.switch.radius label {
    border-radius: 3px;
}

.switch.radius label::before {
    border-radius: 2px;
}

.switch.round label, .switch.round label::before {
    border-radius: 1000px;
}

/* Table-lists */
.table-list {
    position: relative;
    padding-left: 0;
    margin: 0 0 0 0;
    list-style: none;
    background-color: #f6f6f6;
}

.table-list.has-icon [class^=icon-]::before {
    margin-right: 5px;
    vertical-align: -2px;
    color: #666666;
    font-size: 20px;
}

.table-list.has-icon .item-body {
    overflow: hidden;
}

.table-list.has-badge .item {
    padding-right: 65px;
}

.table-list.has-badge .item > a:not(.btn) {
    margin-right: -65px;
}

.table-list.has-thumb .thumb {
    width: 45px;
    height: 45px;
}

.table-list.has-thumb .thumb.left {
    margin-right: 10px;
}

.table-list.has-thumb .thumb.right {
    margin-left: 10px;
}

.table-list.has-thumb .item-body {
    overflow: hidden;
}

.table-list.has-thumb .item-body h1, .table-list.has-thumb .item-body h2, .table-list.has-thumb .item-body h3, .table-list.has-thumb .item-body h4, .table-list.has-thumb .item-body h5, .table-list.has-thumb .item-body h6 {
    margin: 0 0 5px 0;
}

.table-list.has-thumb .item-body p {
    font-size: 12px;
}

.table-list > .item {
    position: relative;
    background-color: inherit;
    padding: 11px 30px;
    overflow: hidden;
    font-size: 16px;
    -webkit-touch-callout: none;
}

.table-list > .item::after {
    content: "";
    position: absolute;
    left: 30px;
    right: 30px;
    bottom: 0;
    height: 1px;
    transform: scaleY(0.5);
    background-color: rgba(208, 208, 208, 0.4);
}

.table-list > .item.span {
    display: flex;
}

.table-list > .item.span span {
    display: block;
}

.table-list > .item:last-child::before, .table-list > .item:last-child::after {
    height: 0;
}

.table-list > .item > a:not(.btn) {
    position: relative;
    display: block;
    padding: inherit;
    margin: -11px -30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: inherit;
}

.table-list > .item > a:not(.btn):hover {
    background-color: #F5F5F5;
}

.table-list > .item p,
.table-list > .item .btn {
    margin-bottom: 0;
}

.table-list > .item .btn,
.table-list > .item .badge,
.table-list > .item .switch,
.table-list > .item input,
.table-list > .item select {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    margin-bottom: 0;
}

.table-list > .item input[type=text], .table-list > .item input[type=email], .table-list > .item input[type=url], .table-list > .item input[type=search], .table-list > .item input[type=tel], .table-list > .item input[type=number] {
    width: auto;
}

.table-list > .item label {
    line-height: 2;
}

.table-list > .item > .nav-right::before {
    content: "⠂";
    position: absolute;
    top: 50%;
    right: 30px;
    height: 10px;
    transform: translateY(-50%);
    font-size: 24px;
    color: #090909;
}

.table-list > .item > .nav-right > .right {
    margin-right: 54px;
}

.table-list > .item > .nav-right > .btn,
.table-list > .item > .nav-right > .badge,
.table-list > .item > .nav-right > .switch,
.table-list > .item > .nav-right > input {
    right: 58px;
}

.table-list > .item > .table-list {
    margin: 11px -30px -11px -60px;
    border: 0 none;
}

.table-list > .item > .table-list::after {
    left: 30px;
}

.table-list > .item > .table-list.has-badge {
    margin-right: -65px;
}

.table-list > .item > .table-list > .item {
    padding-left: 60px;
}

.table-list > .item > .table-list > .item::after {
    left: 60px;
}

.table-list > .item > .content {
    padding: 8px 30px;
    margin: 11px -30px -11px;
    background: white;
    overflow: hidden;
    transition: height .35s ease;
}

.table-list > .item.collapse > .nav-right::before {
    content: "⠃";
}

.table-list > .item.collapse > .table-list {
    display: none;
}

.table-list > .item.collapse > .content {
    display: none;
}

.table-list > .divider {
    position: relative;
    padding: 6px 30px;
    margin-top: -1px;
    margin-left: 0;
    font-weight: 700;
    color: #999999;
    background-color: #FAFAFA;
}

.table-list > .divider::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -1px;
    height: 1px;
    transform: scaleY(0.5);
    background-color: rgba(208, 208, 208, 0.4);
}

.table-list > .divider::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    transform: scaleY(0.5);
    background-color: rgba(208, 208, 208, 0.4);
}

/* Top bar */
.sticky {
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0;
    bottom: auto !important;
    z-index: 1009;
}

.sticky.sticking {
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.05);
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1009;
}

.fixed.bottom {
    bottom: 0;
    top: auto;
}

.fixed.bottom button.flat,
.fixed.bottom .btn.flat {
    margin-bottom: 0;
}

.top-bar {
    position: relative;
    margin-bottom: 0;
    background: #333333;
    height: 44px;
    line-height: 44px;
}

.top-bar::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    transform: scaleY(0.5);
    background-color: transparent;
}

.top-bar .title-area,
.top-bar h1 {
    margin: 0;
    text-align: center;
    line-height: 44px;
    font-size: 18px;
    color: #FFFFFF;
}

.top-bar a:not(.btn) {
    color: #FFFFFF;
    display: inline-block;
}

.top-bar .pos-left, .top-bar .pos-right {
    position: absolute;
    top: 0;
}

.top-bar .pos-left [class^=icon-], .top-bar .pos-right [class^=icon-] {
    padding: 0 14.666667px;
    font-size: 18px;
}

.top-bar .pos-left {
    left: 0;
}

.top-bar .pos-right {
    right: 0;
}

.top-bar ul {
    list-style: none;
    margin-bottom: 0;
}

.top-bar .row {
    max-width: none;
}

.top-bar form,
.top-bar .form-row {
    margin: 0;
}

.top-bar input,
.top-bar select {
    display: inline-block;
    position: relative;
    height: 28px;
    padding-bottom: 2px;
    padding-top: 2px;
    font-size: 12px;
}

.top-bar button,
.top-bar .btn {
    position: relative;
    margin-bottom: 0;
    padding: 0 6px;
    height: 28px;
    line-height: 27px;
    font-size: 12px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .top-bar button {
        top: 1px;
    }
}

.top-bar .logo {
    display: inline-block;
}

.top-bar .logo img {
    min-height: 1px;
    max-height: 100%;
}

.top-bar-section {
    left: 0;
    position: relative;
    width: auto;
}

.top-bar-section ul {
    font-size: 16px;
    height: auto;
    margin: 0;
    padding: 0;
}

.top-bar-section li > a {
    color: #FFFFFF;
    display: block;
    font-size: 13px;
    padding-left: 14.666667px;
    padding-right: 14.666667px;
    width: 100%;
}

.top-bar-section li:hover > a {
    color: #FFFFFF;
    background: #242424;
}

.top-bar-section li a:not(.btn) {
    line-height: 44px;
}

.top-bar-section li a:not(.btn):hover {
    background: #242424;
}

.top-bar-section li > button,
.top-bar-section li > .buttons-class {
    font-size: 13px;
    padding-left: 14.666667px;
    padding-right: 14.666667px;
}

.top-bar-section > ul > li {
    float: left;
}

.top-bar-section > ul.left > li:not(.no-divide) {
    border-right: 1px solid #4e4e4e;
}

.top-bar-section > ul.right > li:not(.no-divide) {
    border-left: 1px solid #4e4e4e;
}

.top-bar-section .has-dropdown {
    position: relative;
}

.top-bar-section .has-dropdown:hover > .dropdown {
    clip: auto;
    height: auto;
    width: auto;
    overflow: visible;
}

.top-bar-section .has-dropdown > a {
    padding-right: 34.666667px !important;
}

.top-bar-section .has-dropdown > a::after {
    position: absolute;
    top: 50%;
    right: 0;
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: rgba(255, 255, 255, 0.4);
    margin-top: -2.5px;
    margin-right: 14.666667px;
}

.top-bar-section .dropdown {
    display: block;
    position: absolute;
    left: 0;
    z-index: 99;
    height: 1px;
    width: 1px;
    min-width: 100%;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    background: #333333;
}

.top-bar-section .dropdown li a {
    white-space: nowrap;
}

.top-bar-section .dropdown li:hover > a {
    background: #242424;
    color: #FFFFFF;
}

.top-bar-section .dropdown .divider {
    border-bottom: 1px solid #1a1a1a;
    height: 0;
    width: 100%;
}

.top-bar-section .dropdown label {
    margin-bottom: 0;
    padding: 8px 14.666667px 2px;
    color: #777777;
    font-weight: 700;
    white-space: nowrap;
}

.top-bar-section .right li .dropdown {
    left: auto;
    right: 0;
}

.top-bar-section .left li .dropdown {
    right: auto;
    left: 0;
}

.top-bar.reverse {
    background: #cccccc;
}

.top-bar.reverse h1, .top-bar.reverse a {
    color: black;
}

.top-bar.reverse .top-bar-section li:hover > a {
    background-color: #bdbdbd;
    color: black;
}

.top-bar.reverse .top-bar-section li a:hover {
    background: #bdbdbd;
}

.top-bar.reverse .top-bar-section > ul.left > li:not(.no-divide) {
    border-right: 1px solid lightgray;
}

.top-bar.reverse .top-bar-section > ul.right > li:not(.no-divide) {
    border-left: 1px solid lightgray;
}

.top-bar.reverse .top-bar-section .dropdown {
    background: #cccccc;
}

.top-bar.reverse .top-bar-section .dropdown .divider {
    border-bottom: 1px solid #d5d5d5;
}

.top-bar.reverse .top-bar-section .dropdown label {
    color: #888888;
}

/* Tabs */
.tabs {
    margin-bottom: 0;
    margin-left: 0;
    list-style: none;
}

.tabs .controller {
    position: relative;
    margin-bottom: 0;
    float: left;
    list-style: none;
}

.tabs .controller > a {
    display: block;
    background-color: #FFFFFF;
    padding: 10px 12px;
    line-height: 1.72;
    font-size: 14px;
    color: #A1A2A4;
    transition: background-color 0.1s linear;
}

.tabs .controller > a:hover {
    background-color: #f0f0f0;
}

.tabs .controller.active > a {
    background-color: #e0e0e0;
}

.tabs.radius .controller:first-child a {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.tabs.radius .controller:last-child a {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.tabs.vertical {
    float: left;
    width: 20%;
    max-width: 20%;
}

.tabs.vertical .controller {
    display: block;
    position: inherit;
    top: auto;
    float: none;
}

.tabs.vertical .controller > a {
    padding: 10px 5px;
}

.tabs-content {
    margin-bottom: 10px;
    width: 100%;
}

.tabs-content > .content {
    display: none;
    padding: 6px 0;
    width: 100%;
}

.tabs-content > .content.active {
    display: block;
}

.tabs-content > .content.contained {
    padding: 6px;
}

.tabs-content.vertical {
    float: left;
    width: 80%;
    max-width: 80%;
}

.tabs-content.vertical > .content {
    padding: 0 6px;
}

.segmented-tabs {
    position: relative;
    display: table;
    table-layout: fixed;
    margin: 10px 12px;
    overflow: hidden;
    background-color: transparent;
    border: 1px solid #0095DE;
    border-radius: 3px;
    -webkit-touch-callout: none;
}

.segmented-tabs .controller {
    display: table-cell;
    width: 1%;
    border-left: 1px solid #0095DE;
    line-height: 32px;
    text-align: center;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.segmented-tabs .controller:first-child {
    border-left-width: 0;
}

.segmented-tabs .controller > a {
    display: block;
    background-color: #FFFFFF;
    color: #0095DE;
    transition: background-color 0.1s linear;
}

.segmented-tabs .controller.active > a {
    background-color: #0095DE;
    color: #FFFFFF;
}

.bar-tabs {
    display: flex;
    position: relative;
    background-color: #FFFFFF;
    margin-bottom: 0;
    margin-left: 0;
    list-style: none;
    text-align: center;
}

.bar-tabs::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    transform: scaleY(0.5);
    background-color: #DCDCDC;
}

.bar-tabs .controller {
    flex: 1;
    line-height: 18px;
    font-size: 15px;
}

.bar-tabs .controller > a {
    display: block;
    position: relative;
    padding: 17px 22px;
    color: #A1A2A4;
}

.bar-tabs .controller > a::before {
    content: "";
    position: absolute;
    transition: background-color 0.2s linear;
}

.bar-tabs .controller:not(:last-child) > a::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    transform: scaleX(0.5);
    background-color: #EDEDED;
}

.bar-tabs .controller.active > a {
    color: #000000;
}

.bar-tabs .controller.active > a::before {
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 2px;
    background-color: #000000;
}

/* Error Handling */
[data-validator] .alert-box {
    display: none;
}

.has-error > label > .alert-box {
    display: inline;
    margin: 0;
    padding: 0;
    background: transparent;
    color: currentColor;
}

.has-error input,
.has-error textarea,
.has-error select {
    border-color: #CF3727;
    color: #CF3727;
}

.has-error input:focus,
.has-error textarea:focus,
.has-error select:focus {
    background: #FFFFFF;
    border-color: white;
}

.has-error .alert-box {
    display: block;
    margin-top: -1px;
    margin-bottom: 0;
    padding: 6px 9px;
    background: #CF3727;
    border-color: #a42c1f;
    color: #FFFFFF;
    font-size: 12px;
}

label.error {
    color: #CF3727;
}
